.card {
    width: 100%;
    box-shadow: 5px 5px 15px 0 #ccc;
    .card-image {
        aspect-ratio: 1/1;
        width: 100%;
    }
}

.card-content {
    padding: 5px;
    .card-title {
        font-weight: bold;
        font-size: 1.5rem;
    }
}