<div class="jasmine-banner">
    <input
     type="text"
     placeholder="Add Product"
     [(ngModel)]="text">
     @if(error) {
        <p class="error-message">{{error}}</p>
     }

    <div class="suprimer">
        <button class="addProduct" type="submit" (click)="addproduct()" >➕</button>
        <input type="checkbox"
        [(ngModel)]="checkbox">
    </div>

    <ul>
        @for (item of listCourseService.list(); track $index) {
            <li>
                {{item.nom}}
                 @if(item.important){<span>🚩</span>}
                 <button (click)="item.showConfirmBox = true">🗑</button> 
            </li>

            @if(item.showConfirmBox) {
                <app-confirm-box (onResponse)="deleteProduct($event , $index)"></app-confirm-box>
            }
        }
    </ul>
  



