<div class="jasmine-banner">
    <input
     type="text"
     placeholder="Add Product"
     [(ngModel)]="text">
     @if(error) {
        <p class="error-message">{{error}}</p>
     }
    <div>
        <button class="addProduct" type="submit" (click)="addproduct()" >➕</button>
    </div>
    <div class="suprimer">
        <input type="checkbox"
        [(ngModel)]="checkbox">
    </div>
    <div>
        <!-- @if (showConfirmBox){
            <app-confirm-box
            (onResponse)="confirmReset($event)" 
            message="Voulez vouz vraiment réinitializer les choro ?"></app-confirm-box> -->
    </div>

    
    <ul>
        @for (item of products; track $index) {
            <li>
                {{item.nom}}
                 @if(item.important){<span>🚩</span>}
                 <button (click)="item.showConfirmBox = true">Delete</button> 
            </li>

            @if(item.showConfirmBox) {
                <app-confirm-box (onResponse)="deleteProduct($event , $index)"></app-confirm-box>
            }
        }
    </ul>
  



